.element__items-like {
  align-self: baseline;
  width: 22px;
  height: 19px;
  background: url(../../../images/like.svg);
  background-size: 22px 19px;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: opacity .5s ease;
}

.element__items-like:hover {
  opacity: .5;
}
