.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 320px) and (max-width: 880px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
